.award_card {
  user-select: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--gray-20);
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  .award_card-img {
    position: relative;
    overflow: hidden;

    figure {
      padding: 28px 28px 0 28px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      img {
        top: 0;
        width: auto;
        height: 52px;
        object-fit: contain;
      }
    }
  }

  .award_card-content {
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    h3 {
      color: var(--dark-900);
      font-size: var(--fs-16);
      font-weight: var(--fw-b);
      line-height: var(--lh-170);

      @media (max-width: 768px) {
        font-size: var(--fs-14);
      }
    }

    p,
    strong {
      color: var(--card-text);
      text-transform: uppercase;
      font-size: var(--fs-14);
      line-height: var(--lh-170);
    }

    p {
      font-weight: var(--fw-r);
    }
  }
}
