footer {
  background-color: var(--white);

  .footer_top {
    padding: 45px 0 50px 0;

    @media (max-width: 768px) {
      padding: 36px 0;
    }

    .footer_top_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      .footer_logo {
        svg {
          &:first-child {
            display: none;

            @media (max-width: 768px) {
              display: block;
              width: 36px;
            }
          }

          &:last-child {
            display: block;

            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }

      .language_switcher {
        background-color: var(--bg);
        z-index: 1;
        .active_language {
          cursor: pointer;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          padding: 0 8px;
          border-radius: 4px;
          background-color: transparent;
          transition: all 0.25s ease-in-out;

          > div {
            font-size: var(--fs-16);
            font-weight: var(--fw-b);
          }
        }

        .language_list {
          display: none;
          padding: 4px 0 0 0;
          position: absolute;
          top: 36px;
          bottom: auto;
          left: 0;
          right: 0;

          > div {
            display: flex;
            flex-direction: column;
            color: var(--dark-900);
            background-color: var(--white);
            border: 1px solid var(--gray-20);
            border-radius: 4px;
            box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
            padding: 8px 0;
            > div {
              cursor: pointer;
              font-size: var(--fs-16);
              font-weight: var(--fw-m);
              text-align: center;
              padding: 4px 0;
              transition: all 0.25s ease-in-out;

              &:hover {
                background-color: var(--bg);
              }
            }
          }
        }

        &:hover {
          .active_language {
            background-color: var(--gray-10);
          }

          .language_list {
            display: block;
          }
        }
      }
    }
  }

  .footer_content {
    padding: 0 0 44px 0;

    .footer_content_wrapper {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 16px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .footer_menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @media (max-width: 768px) {
          display: none;
        }

        .menu_item {
          display: flex;
          flex-direction: column;
          gap: 24px;

          > a {
            color: var(--dark-900);
            font-size: var(--fs-16);
            font-weight: var(--fw-b);
            line-height: var(--lh-170);

            @media (max-width: 768px) {
              font-size: var(--fs-14);
            }
          }

          nav {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > a {
              text-decoration: none;
              transition: color 0.25s ease-in-out;
              color: var(--body-color);
              font-size: var(--fs-16);
              font-weight: var(--fw-r);
              line-height: var(--lh-170);

              &:hover {
                color: var(--blue-400);
              }

              @media (max-width: 768px) {
                font-size: var(--fs-14);
              }
            }
          }
        }
      }
    }
  }
}

.footer_bottom {
  padding: 28px 0;
  border-top: 1px solid var(--gray-10);

  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: unset;
    }

    .footer_bottom_left {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 768px) {
        order: 2;
      }

      svg {
        width: 20px;
      }

      span {
        display: block;
        color: var(--body-color);
        font-size: var(--fs-12);
        font-weight: var(--fw-r);
      }
    }

    .footer_bottom_right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      @media (max-width: 768px) {
        order: 1;
      }

      span {
        cursor: pointer;
        display: block;
        color: var(--body-color);
        font-size: var(--fs-12);
        font-weight: var(--fw-r);
        white-space: nowrap;

        @media (max-width: 768px) {
          font-size: var(--fs-14);
        }
      }
    }
  }
}

.footer_contact {
  span {
    display: block;
    color: var(--dark-900);
    font-size: var(--fs-16);
    font-weight: var(--fw-b);
    line-height: var(--lh-170);

    @media (max-width: 768px) {
      font-size: var(--fs-14);
    }

    @media (max-width: 479px) {
      font-size: var(--fs-16);
    }
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0;

    @media (max-width: 768px) {
      margin: 48px 0;
      gap: 32px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;

      color: var(--body-color);
      font-size: var(--fs-16);
      font-weight: var(--fw-m);
      font-style: normal;
      line-height: var(--lh-170);

      svg {
        fill: var(--body-color);
      }

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 768px) {
        font-size: var(--fs-14);
      }
    }
  }

  .footer_socials {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 16px 0;

    @media (max-width: 479px) {
      gap: 16px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: var(--bg);
      border-radius: 6px;
      transition: all 0.25s ease-in-out, color 0.25s ease-in-out;

      svg {
        fill: var(--body-color);
      }

      &:hover {
        background-color: var(--gray-30);

        svg {
          fill: var(--blue-400);
        }
      }

      @media (max-width: 479px) {
        width: 52px;
        height: 52px;
      }
    }
  }
}

.footer_content_mobile {
  display: none;
  margin-bottom: 32px;

  @media (max-width: 768px) {
    display: block;
  }

  .footer_dropdown {
    border-top: 1px solid var(--gray-40);

    &:last-of-type {
      border-bottom: 1px solid var(--gray-40);
    }

    .footer_dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 24px 44px;

      a {
        color: var(--dark-900);
        font-weight: var(--fs-16);
        font-weight: var(--fw-b);
        line-height: var(--h-150);
      }

      svg {
        transition: 0.6s;
      }
    }

    .footer_dropdown-list {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease-out;
      > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 44px 24px 44px;

        a {
          color: var(--body-color);
          font-size: var(--fs-14);
          font-weight: var(--fw-r);
          line-height: var(--lh-170);
        }
      }
    }

    &.open {
      .footer_dropdown-list {
        max-height: 400px;
      }

      .footer_dropdown-toggle {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
