.plain_text {
  padding: 60px 0;

  @media (max-width: 1024px) {
    padding: 50px 0;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  p {
    color: var(--dark-900);
    font-size: var(--fs-32);
    font-weight: var(--fw-m);
    line-height: var(--lh-150);
  }
}
