@import url("_reset.css");
@import url("_variables.css");

@import url("components/helper.css");
@import url("components/header.css");

body {
  font-size: var(--fs-16);
  font-family: var(--font-default);
  font-weight: var(--fw-r);
  line-height: 1;
  overflow-x: hidden;

  color: var(--body-color);
  background-color: var(--bg);

  main {
    min-height: calc(100vh - 80px);
    width: 100%;
    overflow-x: hidden;
  }
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}
