@import url("_reset.css");
@import url("_variables.css");

@import url("components/helper.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/banner.css");
@import url("components/plain_text.css");
@import url("components/choose_package.css");
@import url("components/statistics.css");
@import url("components/digital_bank.css");

body {
  font-size: var(--fs-16);
  font-family: var(--font-default);
  font-weight: var(--fw-r);
  line-height: 1;
  overflow-x: hidden;

  color: var(--body-color);
  background-color: var(--bg);

  main {
    padding: 80px 0 0 0;
    min-height: calc(100vh - 80px);
    width: 100%;
    overflow-x: hidden;

    &.hidden {
      overflow: hidden;
    }
  }
}

.breadcrumbs {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    color: var(--dark-900);
    font-size: var(--fs-12);
    font-weight: var(--fw-m);
    line-height: var(--lh-170);
  }

  svg {
    width: 16px;
    height: 16px;
  }

  a {
    color: var(--body-color);
    font-size: var(--fs-12);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--blue-100);
    }
  }
}
